
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> {{!-- Font --}}
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:700" rel="stylesheet"> {{!-- Raleway Font --}}
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> {{!-- Shadows Font --}}
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet"> {{!-- Pontano Sans Font --}}
    <link href="https://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <title>News_Scraper</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700');
        body: {
            font-family: 'Playfair Display SC', serif;
        }
    </style>
</head>

<body>
    <!-- Dropdown Structure -->
    <div class="navigation">
        <ul id="dropdown1" class="dropdown-content">
            <li>
                <a href="/articles">Saved Articles</a>
            </li>
            <li>
                <a href="/scrape">Scrape for New Articles</a>
            </li>
        </ul>
    </div>
    <nav>
        <div class="nav-wrapper teal lighten-2" id="navigation-bar">
            <a href="/" class="brand-logo center">
                <p class="site-title">Ted Talk News Articles</p>
            </a>

            <ul class="right">
				<!-- Dropdown Trigger -->
				{{!-- custom handlebars helper to see if current user is logged in -- check server.js --}} 

				<li>
					<a class="dropdown-button" href="#!" data-activates="dropdown1">
						<i class="material-icons right" id="nav-icon">account_circle</i>
					</a>
				</li>
			</ul>
        </div>
    </nav>

    {{{ body }}}

    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <!-- Compiled and minified JavaScript for Materialize-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    {{!-- <script src="../../public/assets/js/app.js"></script> --}}
</body>
</html>