<div id="wrapper">
    <h1>Ted Talk News Scraper
     <a style='margin-left: 40px;' href="/scrape" class="btn-floating btn-large waves-effect modal-trigger add-event-btn">
                <i class="material-icons scrape">search</i>
                </a>
                </h1>
</div>
<script src="../assets/js/scrape.js"></script>